@tailwind base;
@tailwind components;
@tailwind utilities;

.shopnow-transition{
    transition: all 0.5s ease;
}

.border-corner{
    border-radius: 0 0 0 100px;
}

.border-manual{
    border: 1px solid #029FAE;
}

.third-nav{
    box-shadow: 0 1 0 rgb(231, 231, 231);
}